VITE_BASE_URL=https://SERVER_URL/
VITE_ANNOUNCE_API=/api/v1/announces
VITE_AUTH_API=/api/v1/auth
VITE_USER_API=/api/v1/users
VITE_NOTI_API=api/v1/notifications
VITE_SELECTOR_API=/api/v1/selector
VITE_ANNOUNCE_AGENT=/api/v1/announceAgent